# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
coverage.xml

# Virtual environments
.venv/
venv/

# Editors
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Local / env
*.local
.env
.envrc
.python-version

# HA dev
custom_components/*/config_flow.py.bak*
